body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0 20px;
}
h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
};
h2 {
    font-size: 30px;
    color: #0d0d0d
}
p {
    font-size: 24px;
    padding: 10px 0 0 10px;
}
img {
    width: 250px;
    margin: auto;
    display: block;
    border: 10px dashed #ffffff;

}
div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid white;
}
.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2em;
}
.red {
    background-color: red;
    text-align: right;
    margin-left: 50px;
    border-top: 2px solid #ffffff;
    border-right: 5px solid #ffffff;
}
.blue {
    background-color: blue;
    text-align: left;
    margin-right: 50px;
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
}
.yellow {
    background-color: yellow;
    text-align: right;
    margin-left: 50px;
    border-top: 2px solid #ffffff;
    border-right: 5px solid #ffffff;
    color: #707070;
}
.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-bottom: 2px solid #ffffff;
    border-left: 5px solid #ffffff;
}
footer {
    background: linear-gradient(to bottom, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
    border: 5px solid #ffffff;
}
footer p {
  font-size: 20px;
  text-align: right;
  padding: 15px 15px 15px 0;
}